<div id="anim{{idtest}}">
	<div style="text-align:center">
	   <!-- The place to do the simulation -->
	   <div class="simuShow">
	   </div>
	   <!-- The place to display texte -->
	   <div class="simuMsg">   
	   </div>
	   <!-- Toolbar -->
	   <div class="simuToolbar">
		  <!--<input type="button" class="play" value="Exécuter tout" />
		  <input type="button" class="pause" value="Exécuter une étape" />
		  <input type="button" class="restart" value="Recommencer" />-->
        <button href="#" class="play btn btn-default" ng-i18next="player_play"></button>
        <button href="#" class="pause btn btn-default" ng-i18next="player_playpause"></button>
        <button href="#" class="restart btn btn-default" ng-i18next="player_restart"></button>
	   </div>
	   <pre class="textOutput" style="display:none;background:#C0C0C0;text-align:left">
	   </pre>
	</div>
</div>
