<div class="submission" ng-if="!loading">
   <span class="submission_span submission_info">
      <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate image_loading checkImage" ng-show="!submission.bEvaluated"></span>
      <span class="glyphicon glyphicon-ok image_succeed_task checkImage" ng-show="submission.bEvaluated && submission.bSuccess"></span>
      <span class="glyphicon glyphicon-remove image_failure_task checkImage" ng-show="submission.bEvaluated && !submission.bSuccess"></span>
      <span ng-show="submission.bEvaluated">
         <span ng-i18next="submission_submission"></span>
         <span ng-show="submission.sourceLang"><span ng-i18next="submission_lang"></span> {{submission.sourceLang}}</span>
         <span ng-i18next="submission_date"></span> {{submission.sDate | date:'short' }}
      </span>
      <span ng-show="!submission.bEvaluated" ng-i18next="submission_evaluation">
      </span>
   </span>

   <span class="submission_span submission_data"> <!-- centered data -->
   </span>
   <span class="submission_span score" ng-if="submission.bEvaluated"><span ng-i18next="submission_score"></span> {{submission.iScore}} %</span>
   <span class="submission_span score" ng-if="!submission.bEvaluated" ng-i18next="submission_evaluation"></span>

   <br>

   <span class="submission_details" ng-if="submission.bEvaluated">
      <span ng-if="submission.submissionSubtasks.length > 0"><span ng-i18next="submission_validated_subtasks"></span> {{submissionManager.countSubtasksSucceeded(submission)}} / {{submission.submissionSubtasks.length}}</span>
      <span ng-if="submission.submissionSubtasks.length == 0"><span ng-i18next="submission_validated_tests"></span> {{submission.nbTestsPassed}} / {{submission.nbTestsTotal}}</span>
      &nbsp;&nbsp;
      <span class="submission_min_test disp_min" ng-if="!submission.submissionSubtasks" ng-repeat="curTest in submission.tests" ng-include src="'submission-manager/view_test_min.html'"></span>
      <span class="submission_min_test" ng-if="submission.submissionSubtasks" ng-repeat="submissionSubtask in submission.submissionSubtasks">
        <span ng-repeat="curTest in submissionSubtask.submissionTests" ng-include src="'submission-manager/view_test_min.html'"  class="disp_min"></span>
        &nbsp;&nbsp;
      </span>
   </span>
 </div>
