<div class="submission_global">
   <div ng-if="submission != undefined" ng-hide="loading">
      <uib-accordion close-others="false">
         <uib-accordion-group is-open="showSubmission">
            <uib-accordion-heading>
               <div ng-include src="'submission-manager/header_template.html'"></div>
            </uib-accordion-heading>
            <div ng-show="submission.sMode == 'UserTest'" class="alert alert-warning"><b ng-i18next="submission_usertest_warning"></b></div>
            <div ng-if="submission != undefined && !submission.bEvaluated && !loading" class="submission_global">
               <div class="submission_error">
                  <p ng-i18next="submission_evaluation_description"></p>
               </div>
            </div>
            <div ng-if="submission.bEvaluated">
               <div ng-show="submission.bCompilError" class="submission_error">
                  <div ng-if="submission.sCompilMsg">
                      <strong ng-i18next="submission_error_compilation"></strong><br />
                      <pre>{{submission.sCompilMsg}}</pre>
                  </div>
                  <div ng-if="!submission.sCompilMsg">
                      <strong ng-i18next="submission_error_execution"></strong><br />
                      <pre>{{submission.sErrorMsg}}</pre>
                  </div>
               </div>

               <div ng-show="!(submission.tests.length > 0) && !submission.bCompilError && submission.bEvaluated" class="submission_error">
                  <p ng-i18next="submission_notests"></p>
               </div>
               <div ng-hide="!submission.bEvaluated || submission.bCompilError" ng-if="submission.tests.length > 0">
                  <div ng-if="submission.sCompilMsg.length > 0" class="compil_error">
                     <span ng-i18next="submission_compilation_output"></span>
                     <pre>{{submission.sCompilMsg}}</pre>
                  </div>
                  <div ng-if="submission.submissionSubtasks.length > 0">
                     <uib-accordion close-others="true">
                        <uib-accordion-group ng-repeat="submissionSubtask in submission.submissionSubtasks" class="subtask_global" is-open="submissionSubtask.cached.showDetailsTests">
                           <div ng-include src="'submission-manager/view_subtask.html'"></div>
                        </uib-accordion-group>
                     </uib-accordion>
                  </div>
                  <div class="test" ng-if="submission.submissionSubtasks.length == 0">
                     <uib-accordion close-others="true">
                        <uib-accordion-group ng-repeat="curTest in submission.tests | orderBy : curTest.iRank" is-open="curTest.cached.isShown">
                           <div ng-include src="'submission-manager/view_test.html'"></div>
                        </uib-accordion-group>
                     </uib-accordion>
                  </div>
               </div> <!-- End tests -->
            </div>
         </uib-accordion-group>
      </uib-accordion>
   </div> <!-- End submission details -->
</div> <!-- End submission -->
