<uib-accordion-heading>
   <p ng-click="clickTest(curTest.ID)" ng-if="curTest.iScore > 0 && curTest.iScore < 100" class="heading_test"> <!-- i.e relative score -->
      <span class="idTest">
         <span ng-include src="'submission-manager/image_test.html'" class="imageTest"></span>
         <span ng-if="curTest.test_sGroupType == 'Evaluation'"><span ng-i18next="submission_test_number"></span>{{$index+1}} &nbsp; &nbsp;</span>
         <span ng-if="curTest.test_sGroupType !== 'Evaluation'">{{curTest.test_sName}} &nbsp; &nbsp;</span>
      </span>
      <span class="resultTest {{submissionManager.getClassTest(ERROR_RelativeScore)}}">
         <span ng-i18next="submission_score_partial"></span> {{curTest.iScore}}% <span ng-i18next="submission_score_partial_in"></span> {{minzero(floor(curTest.iTimeMs/10)/100)}} s
      </span>
   </p>
   <p ng-click="clickTest(curTest.ID)" ng-if="!(curTest.iScore > 0 && curTest.iScore < 100)" ng-switch="submissionManager.getStatusTest(curTest.iErrorCode)" class="heading_test">
      <span class="idTest">
         <span ng-include src="'submission-manager/image_test.html'" class="imageTest"></span>
         <span ng-if="curTest.test_sGroupType == 'Evaluation'"><span ng-i18next="submission_test_number"></span>{{$index+1}} &nbsp; &nbsp;</span>
         <span ng-if="curTest.test_sGroupType !== 'Evaluation'">{{curTest.test_sName}} &nbsp; &nbsp;</span>
      </span>
      <span class="resultTest {{submissionManager.getClassTest(curTest.iErrorCode)}}" ng-switch-when="ok">
        <span ng-i18next="submission_result_correct"></span> {{minzero(floor(curTest.iTimeMs/10)/100)}} s
      </span>
      <span class="resultTest {{submissionManager.getClassTest(curTest.iErrorCode)}}" ng-switch-when="error">
        <span ng-i18next="submission_result_wrong"></span> {{minzero(floor(curTest.iTimeMs/10)/100)}} s
      </span>
      <span class="resultTest {{submissionManager.getClassTest(curTest.iErrorCode)}}" ng-switch-when="errorNoLog" ng-i18next="submission_result_nolog"></span>
      <span class="resultTest {{submissionManager.getClassTest(curTest.iErrorCode)}}" ng-switch-when="abort" ng-i18next="submission_result_abort"></span>
      <span class="resultTest {{submissionManager.getClassTest(curTest.iErrorCode)}}" ng-switch-when="busError" ng-i18next="submission_result_buserror"></span>
      <span class="resultTest {{submissionManager.getClassTest(curTest.iErrorCode)}}" ng-switch-when="floatingPointExpression" ng-i18next="submission_result_floating"></span>
      <span class="resultTest {{submissionManager.getClassTest(curTest.iErrorCode)}}" ng-switch-when="memory" ng-i18next="submission_result_memory"></span>
      <span class="resultTest {{submissionManager.getClassTest(curTest.iErrorCode)}}" ng-switch-when="timeout" ng-i18next="submission_result_timeout"></span>
      <span class="resultTest {{submissionManager.getClassTest(curTest.iErrorCode)}}" ng-switch-when="otherError" ng-i18next="submission_result_other"></span>
   </p>

</uib-accordion-heading>
<!--<td ng-switch="curTest.iErrorCode">-->

<div ng-if="curTest.iScore > 0 && curTest.iScore < 100" class="output"> <!-- i.e relative score -->
   <span ng-i18next="submission_score_partial_description"></span>
   <div ng-if="(curTest.sLog || curTest.jFiles) && !hasAnimation">
      <div ng-bind-html="toTrust(getLog(curTest))"></div>
   </div>
</div>

<div ng-if="curTest.sLog != '' && hasAnimation" class="output" animation commands="curTest.sLog" idtest="curTest.ID"></div>

<div ng-if="!(curTest.iScore > 0 && curTest.iScore < 100) && !(curTest.sOutput != '' && hasLoadedAnimation)" class="output">
   <div ng-switch="submissionManager.getStatusTest(curTest.iErrorCode)">
      <span ng-switch-when="ok" ng-i18next="submission_congratulations"></span>
      <span ng-switch-when="error">
         <span ng-if="displayError(curTest.ID) && curTest.sOutput.length == 0"> <!-- We use datas in tm_submissions to display log errors if there's nothing in tm_submissions_tests -->
            <span ng-i18next="submission_display_program"></span><br/>
            <pre class="log">{{submission.sFirstUserOutput}}</pre>

            <span ng-i18next="submission_display_expected"></span><br/>
            <pre class="log">{{submission.sFirstExpectedOutput}}</pre>

            <span ng-show="curTest.iErrorCode == ERROR_WrongAnswer"> <!-- diff shall not be shown when iErrorCode = ERROR_WrongAnswerBis -->
               <span ng-i18next="submission_display_firstdiff"></span><br />
               <pre class="log" ng-bind-html="toTrust(firstCharDiff(submission.sFirstUserOutput, submission.sFirstExpectedOutput))"></pre>
            </span>
         </span>
         <span ng-if="displayError(curTest.ID) && curTest.sOutput.length > 0"> <!-- Otherwise, we use datas in tm_submissions_tests -->
            <span ng-i18next="submission_display_program"></span><br/>
            <pre class="log">{{curTest.sOutput}}</pre>

            <span ng-i18next="submission_display_expected"></span><br/>
            <pre class="log">{{curTest.sExpectedOutput}}</pre>
            <span ng-show="curTest.iErrorCode == ERROR_WrongAnswer"> <!-- diff shall not be shown when iErrorCode = ERROR_WrongAnswerBis -->
               <span ng-i18next="submission_display_firstdiff"></span><br />
               <pre class="log" ng-bind-html="toTrust(firstCharDiff(curTest.sOutput, curTest.sExpectedOutput))"></pre>
            </span>
         </span>
         <span ng-if="!displayError(curTest.ID) && !curTest.sLog && !curTest.jFiles && !curTest.sErrorMsg">
            <span ng-i18next="submission_display_nolog_errorcode"></span> {{ curTest.iErrorCode }}.
            <span ng-i18next="submission_display_nolog"></span>
         </span>
      </span>
      <span ng-switch-when="errorNoLog">
         <pre ng-show="displayError(curTest.ID) && curTest.sOutput.length > 0" class="log">{{curTest.sOutput}}</pre>
      </span>
      <span ng-switch-when="abort" ng-i18next="submission_result_abort_description"></span>
      <span ng-switch-when="busError" ng-i18next="submission_result_buserror_description"></span>
      <span ng-switch-when="floatingPointException" ng-i18next="submission_result_floating_description"></span>
      <span ng-switch-when="memory">
         <span ng-i18next="submission_result_memory_description"></span>
         <ul>
            <li ng-i18next="submission_result_memory_description_reason1"></li>
            <li ng-i18next="submission_result_memory_description_reason2"></li>
         </ul>
      </span>
      <span ng-switch-when="timeout">
         <span ng-i18next="submission_result_timeout_description"></span>
         <ul>
            <li ng-i18next="submission_result_timeout_description_reason1"></li>
            <li ng-i18next="submission_result_timeout_description_reason2"></li>
         </ul>
      </span>
      <span ng-switch-when="otherError" ng-i18next="submission_result_other_description"></span>
      <span ng-switch-default ng-i18next="submission_result_default_description"></span>
   </div>
   <div ng-if="curTest.bNoFeedback">
      <span ng-i18next="submission_no_feedback"></span>
   </div>
   <div ng-if="curTest.sErrorMsg && !curTest.bNoFeedback && (submissionManager.getStatusTest(curTest.iErrorCode) == 'error' || submissionManager.getStatusTest(curTest.iErrorCode) == 'otherError')">
      <span ng-i18next="submission_program_error"></span>
      <pre>{{curTest.sErrorMsg}}</pre>
   </div>
   <div ng-if="(curTest.sLog || curTest.jFiles) && !curTest.bNoFeedback && !hasAnimation">
      <div ng-bind-html="toTrust(getLog(curTest))"></div>
   </div>
</div>
