<uib-accordion-heading>
   <div class="subtask">
      <span class="subtask_name">
         <span class="glyphicon glyphicon-ok image_succeed_subtask" ng-show="submissionSubtask.bSuccess"></span>
         <span class="glyphicon glyphicon-remove image_failure_subtask" ng-show="!submissionSubtask.bSuccess"></span>
         {{submissionSubtask.subtask_name}}
      </span>

      <span class="subtask_data">
         <span>
            <span ng-i18next="submission_validated_tests"></span> {{countTestsSucceeded(submissionSubtask)}} / {{submissionSubtask.submissionTests.length}}
            <span class="subtask_min_test">
               <span ng-repeat="curTest in submissionSubtask.submissionTests" ng-include src="'submission-manager/view_test_min.html'"  class="disp_min"></span>
            </span>
         </span>
      </span>

      <span class="score">
         <span ng-i18next="submission_score"></span> {{submissionSubtask.iScore}} / {{submissionSubtask.subtask_iPointsMax}}
      </span>
   </div>
</uib-accordion-heading>

<div class="test">
   <uib-accordion close-others="true">
      <uib-accordion-group ng-repeat="curTest in submissionSubtask.submissionTests | orderBy : curTest.iRank" is-open="curTest.cached.isShown">
         <div ng-include src="'submission-manager/view_test.html'"></div>
      </uib-accordion-group>
   </uib-accordion>
</div>
