<!DOCTYPE html>
<html lang="fr" ng-app='submission'>
   <head>
      <meta charset="utf-8">
      <title>Vue des résultats d'une soumission</title>
      <meta http-equiv="pragma" content="no-cache" />
      <meta http-equiv="cache-control" content="no-cache">
      <meta http-equiv="Expires" content="-1">
      <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet">
      <link href="style.css" type="text/css" rel="stylesheet">
      <script src="bower_components/jquery/dist/jquery.min.js"></script>
      <script src="bower_components/angular/angular.min.js"></script>
      <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
      <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
      <script src="bower_components/raphael/raphael-min.js"></script>
      <script src="commonFramework/modelsManager/modelsManager.js"></script>
      <script src="shared/models.js"></script>
      <script src="shared/utils.js"></script>
      <script src="commonFramework/sync/syncQueue.js"></script>
      <script src="js/heightManager.js"></script>
      <script src="js/submissionManager.js"></script>
      <script src="js/submissionCtrl.js"></script>
      <script>
         var rootUrl = 'commonFramework/';
      </script>
   </head>
	<body ng-controller="submissionCtrl">
      <div class="submission_global">
         <div ng-if="submission != undefined" ng-hide="loading">
            
            <accordion close-others="false">
               <accordion-group is-open="showSubmission">
                  <accordion-heading>
                     <div ng-include src="'template/header_template.html'"></div>
                  </accordion-heading>

                  <div ng-if="submission != undefined && !submission.bEvaluated && !loading" class="submission_global">
                     <div class="submission_error">
                        <p>
                          Cette soumission est en train d'être évaluée.
                        </p>
                     </div>
                  </div>
                   
                  <div ng-if="submission.bEvaluated">
                     <div ng-show="submission.bCompilError" class="submission_error">
                        Erreur de compilation<br />
                        <pre>{{submission.sCompilMgs}}</pre>
                     </div>
                     
                     <div ng-show="!(submission.tests.length > 0) && !submission.bCompilError && submission.bEvaluated" class="submission_error">
                        <p>
                           Il n'existe pas de tests pour ce problème.
                        </p>
                     </div>
                     
                     <div ng-hide="!submission.bEvaluated || submission.bCompilError" ng-if="submission.tests.length > 0">
                     
                        <div ng-if="submission.sCompilMsg.length > 0" class="compil_error">
                           Résultat de la compilation :
                           <pre>{{submission.sCompilMsg}}</pre>
                        </div>
                        
                        <div ng-if="submission.submissionSubtasks.length > 0">
                           <accordion close-others="true">
                              <accordion-group ng-repeat="submissionSubtask in submission.submissionSubtasks" class="subtask_global" is-open="submissionSubtask.cached.showDetailsTests">
                                 <div ng-include src="'template/view_subtask.html'"></div>
                              </accordion-group>
                           </accordion>
                        </div>

                        <div class="test" ng-if="submission.submissionSubtasks.length == 0">
                           <accordion close-others="true">
                              <accordion-group ng-repeat="curTest in submission.tests" is-open="curTest.cached.isShown">
                                 <div ng-include src="'template/view_test.html'"></div>
                              </accordion-group>
                           </accordion>
                        </div>
                     </div> <!-- End tests -->
                     
                  </div> 
               </accordion-group>
            </accordion>
            
         </div> <!-- End submission details -->
      </div> <!-- End submission -->
	</body>
</html>
